<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title> SuitePort | SpaceStation VR with Voice Control </title>
  <meta name="description" content="Bentley New York City">


  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/fonts/font-awesone/css/font-awesome.min.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="static/images/favicon.png">
  <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="page-2">

<nav class="nav">
    <div class="container">
      <div class="twelve columns branding">
        <a class="logo" href="#" title="SuitePort logo"> <img class="logo" src="static/images/logo.png"></a>

      </div>
    </div>
</nav>

<div class="container">
<div class="row eight columns offset-by-two main-content">
  <div class="">

      <p>Mars Space Port Experience</p>

      <h4> SPACE PORT </br> VIRTUAL REALITY </h4>

      <h5>SUITEPORT</h5>


  </div> <!-- End .twelve columns -->



  <div class="eight columns offset-by-two">
      <p> Join us for a Virtual Trip through space. </p>

  </div> <!-- End .twelve columns -->
</div><!-- End .container -->
</div><!-- End .container -->
  <button> Start </button>
</div><!-- End #page -->

<footer class="footer row" >
    <div class="container">
      <div class="ten columns">
      <p> <a href="http://linxlab.com">SuitePort</a> | Suite Port </p>
    </div>
    <div class="two columns">
      <p>  &copy; Linxlab 2016   </p>
    </div>
</footer>


<!-- End Document -->

</body>
</html>
