<html>
<head>
  <script src="https://aframe.io/releases/0.2.0/aframe.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
</head>


<body>
<a-scene canvas="" keyboard-shortcuts="" vr-mode-ui="">
  <a-sky id="myAwesomeImage" src="./static/images/360-mars-2.jpg" rotation="0 -130 0" material="color:#FFF;shader:flat;src:url(images/360-mars-1.jpg)" geometry="primitive:sphere;radius:5000;segmentsWidth:64;segmentsHeight:64" scale="-1 1 1">
  </a-sky>

  <a-entity light="color:#fff;type:ambient" data-aframe-default-light=""></a-entity>

  <a-entity light="color:#fff;intensity:0.2" position="-1 2 1" data-aframe-default-light=""></a-entity>

  <a-entity position="0 1.8 4" data-aframe-default-camera="">

    <a-entity camera="active:true" wasd-controls="" look-controls="" rotation="1.6042818263663057 10.54242343040716 0" position="0 0 0"></a-entity>

  </a-entity>

  <canvas class="a-canvas" style="height: 619px; width: 645px;" width="1935" height="1857"></canvas>

  <div class="a-enter-vr" data-a-enter-vr-no-headset="" data-a-enter-vr-no-webvr=""><button class="a-enter-vr-button"></button>

    <div class="a-enter-vr-modal">
      <p>Your browser does not support WebVR. To enter VR, use a VR-compatible browser or a mobile phone.</p><a href="http://mozvr.com/#start" target="_blank">Learn more.</a></div></div><div class="a-orientation-modal a-hidden"><button>Exit VR</button></div>

</a-scene>

<script type="text/javascript">
  window.myLocation  = "home";
  setInterval(function() {
    $.get('http://SuitePort.mybluemix.net/requests')
        .done(function(data) {
          console.log(data[data.length-1].location);
          if (data.length && data[data.length-1].location != window.myLocation) {
            console.log(data);
            console.log(data[0].location);
            switch(data[data.length-1].location) {
              case 'mars':
                $("#myAwesomeImage").attr('src', './static/images/360-mars-2.jpg');
                break;

              case 'mars location 1':
              case 'mars 1':
              case "curiosity":
                $("#myAwesomeImage").attr('src', './static/images/360-mars-3.jpg');
                break;
              case 'mars location 2':
              case 'mars 2':
                $("#myAwesomeImage").attr('src', './static/images/360-mars-4.jpg');
                break;

              case 'home':
              case 'the hub':
              case 'earth':
                $("#myAwesomeImage").attr('src', './static/images/download.png');
                break;
              case 'the moon':
                $("#myAwesomeImage").attr('src', './static/images/moon.jpg');
                break;
              default:
                break;
            }
            window.myLocation = data[data.length-1].location;
          }
        });
  }, 1000);
</script>
</body>
</html>
