
body { font-family: Raleway, sans-serif; font-size: 18px; font-weight: 400; color: #000; margin: 0; padding: 0; background-color: #fff;}

a { color: #000; }
a:visited, a:hover { color: #555; text-transform: underline; }

.main-nav { background: #000; height: 50px ; }

#page-2 { background: #000 url(../images/hero-3.jpg) top left no-repeat ;
  background-size: cover; background-position: center;  text-align: center; position: relative;
  padding-bottom: 20px; padding-top: 20px;
}

#page { background: #000; position: relative; }

#vimeo {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
#vimeo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main-content {
    background: hsla(354, 13%, 85%, 0.77);
    padding-top: 30px;
    margin-bottom: 30px;
  }

  button {
    display: inline-block;
    height: 50px;
    padding: 0 90px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.57);
    border-radius: 0;
    border: 2px solid #fff;
    cursor: pointer;
    box-sizing: border-box;
  }

footer { margin-top: 30px; background: #fff; }

footer p { color: #C0C0C0; text-transform: uppercase; font-size: .8em; }

footer a { color: #C0C0C0; }
